/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.navbar-brand .user-nav .nav-link {
  font-size: 0.85rem;
  margin: 0px;
  font-weight: 400;
  border-left: solid 3px black;
  padding: 0 3px;
}
