/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */
.favorite {
  width: 7px;
  padding-left: 3px;
  padding-right: 5px;
}

.unfavorite {
  width: 7px;
  padding-left: 3px;
  padding-right: 5px;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: 500;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display: block;
  margin-left: 20px;
  font-size: 0.85rem;
  font-weight: 500;
  color: green;
}

.story-user {
  display: inline;
  margin-left: 20px;
  font-size: 0.85rem;
  font-weight: 500;
  color: goldenrod;
}

.remove-story {
  position: relative;
  left: 70%;
  background-color: red;
  color: white;
  padding: 0px 2px;
}

#delete-button {
  width: 150px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.85rem;
  background-color: lightslategray;
  color: white;
}

#cancel-button {
  width: 150px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.85rem;
  background-color: lightslategray;
  color: white;
}
